<p id="notice"><%= notice %></p>

<h1>Words</h1>

<table>

  <tbody>
    <% words = @words.to_a 
#      words.sort {|a,b| a.word.downcase <=> b.word.downcase }  # _by {|x| x.word.downcase }
       initials = words.map {|x| x.word[0].upcase }
       initials = initials.uniq.sort - ['(']    # annoying, wtf
       initials.each do |letter| 
    %>
        <tr><td colspan=99><h1><%= letter %></h1><hr></td></tr>
    <%
         list = words.select {|x| x.word[0].upcase == letter }
         list = list.sort_by {|x| x.word.downcase }
         list.each_slice(3) do |row| 
    %>
      <tr>
        <% row.each do |word| %>
           <td valign=top>
             <img src=/icons/<%= word.status %>.png width=16 height=16>
             <%= link_to word.word, edit_word_path(word) %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word', new_word_path %>
