<h1>
  Words
  <% if admin? %>  <!-- logged in as HAL -->
    <%= link_to 'New Word', new_word_path, class: "btn btn-primary btn-sm" %>
    <%= link_to 'Export', words_path(format: :text), class: "btn btn-primary btn-sm" %>
  <% end %>
</h1>

<p id="notice"><%= notice %></p>

<% @words.all.group_by_character.each_pair do |letter, entries| %>
  <% next unless entries.present? %>
  <h1><%= letter %></h1>
  <hr>
  <div class="row">
    <% entries.each do |word| %>
      <div class='col-md-4' id='index-word-<%= word.id %>'>
        <%= render partial: "words/index/word", locals: {word: word} %>
      </div>
    <% end %>
  </div>
  <br>
<% end %>
<br>
